@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: "Open Sans";
}/*
header{
    background: url(Detalles/fuente);
    background-size: cover;
    background-position: right center;
    height: 300px;
    margin: 0 7vw;
}*/
.w3-teal1, .w3-hover-teal:hover {
    color: #000 !important;
    background-color: #fff !important;
    padding: 0 0 0 7vw;
}
    .navbar {
    overflow: hidden;
    background-color: #333; 
    padding: 0 0 0 2vw;
    }

    .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    .subnav {
    float: left;
    overflow: hidden;
    }

    .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }

    .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
    }

    .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    padding: 0 0 0 9vw;
    }

    .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    }

    .subnav-content a:hover {
    background-color: #eee;
    color: black;
    }

    .subnav:hover .subnav-content {
    display: block;
    }
    .menu_mobile {
        display: none;
    }

    @media (max-width: 400px) {
        .container_inicio {
            display: none !important;
            padding: 0 !important;
        }
        .menu_mobile {
            display: block;
        }
        .menu_mobile .logo {
            max-width: 100%;
            text-align: center;
            padding: 5px 0 15px;
        }
        .menu_mobile .logo img {
            width: 300px;
            height: auto;
        }
        .menu_mobile .mobile_buscar {
            display: flex;
            width: 100%;
            text-align: center;
            align-items: center;
            padding-bottom: 15px;
        }
        .menu_mobile .mobile_buscar .menu {
            width: 15%;
        }
        .menu_mobile .mobile_buscar .buscar {
            width: 70%;
        }
        .menu_mobile .mobile_buscar .sesion {
            width: 15%;
        }
        header {
            display: none !important;
        }
        .buscar .formulario {
            position: relative;
        }
        .buscar .formulario input[type="text"] {
            height: 43px;
            padding-right: 30px;
            padding-left: 5%;
            margin-left: -1px;
            background: #fff;
            color: inherit;
            border-color: #c7c7c7;
        }
        .buscar .formulario [type="submit"] {
            border: none;
            text-align: center;
            padding: 0;
            display: block;
            position: absolute;
            top: 0;
            right: -10px;
            width: 43px;
            height: 43px;
            transition: all 0.3s;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            background-color: red !important;
            color: white;
        }
    }
@keyframes animatebf{
    100%{
        filter: hue-rotate(460deg);
    }
}

h3{
    text-align: center;
    font-size: 6vw;
    color: transparent;
    /* background-color: #000; */
    color: #FFF;



}

h3 span{
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
    0%
    {
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff;

    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}

body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* CSS para Slider */

.container-slider{
    margin:  0;
    overflow: hidden;
    position: relative;
 
 }
 .slider{
     display: flex;
     height: 36vw;
     width: 400%;
     margin-left: -100%;
 }
 .slider__section{
     width: 100%;
     position: relative;
     
 }
 .slider__img{
     
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .slider__btn{
     position: absolute;
     width: 40px;
     height: 40px;
     background-color: rgba(212, 212, 212, 0.87);
     top: 50%;
     transform: translateY(-50%);
     font-family: monospace;
     font-size: 20px;
     font-weight: bold;
     
     border-radius: 50%;
     cursor: pointer;
     border: solid 1px white;
     text-align: center;
     justify-content: center;
     line-height: 2em;
     z-index: 999;
     color: black;
     
 }
 .slider__btn--left{
     left: 10px;
 }
 .slider__btn--right{
     right: 10px;
 }
 .slider__btn:hover{
     background-color: rgba(244, 16, 16, 0.917);
     transition: 0.05s;
 }
 /* -------------------------- */
 /*contenedor inicio*/

.container_inicio {
    background-color: #fff;
    padding: 1vw 7vw;
    display: flex;
    align-items: center;
}
.container_inicio .divisiones {
    width: 33%;
}
.container_inicio .divisiones img {
    width: 400px;
}

.container_inicio .formulario {
    width: 33%;
    position: relative;
    margin: 0 5vw;
}
.container_inicio .formulario input[type="text"] {
    height: 43px;
    padding-right: 53px;
    padding-left: 5%;
    margin-left: -1px;
    background: #fff;
    color: inherit;
    border-color: #c7c7c7;
}
.form-control {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    line-height: 1.25rem;
    height: 34px;
}
.container_inicio .formulario [type="submit"] {
    border: none;
    text-align: center;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 9.75vw;
    width: 43px;
    height: 43px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background-color: red !important;
    color: white;
}
.container_inicio .divisiones .cuenta {
    width: 30%;
}
.container_inicio .divisiones .cuenta a {
    border: 2px solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    font-size: .875rem;
    white-space: nowrap;
}
.container_inicio .divisiones .cuenta a span{
    padding: 0 2px;
}
 /********************/
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000000;
    color: #fff;
    text-align: center;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
